body {
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

h1.title {
    transform: rotate(-10deg);
    font-size: 5em;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#URL {
    width: 75vw;
    height: 8vh;
    border-style: none;
    font-size: 6.5vh;
    padding: 0 1vw;
}

.button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: white;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    background-color: #2ecc71;
    text-transform: uppercase;
    width: 75vw;
    margin-top: 1vh;
    height: 4vh;
    border-radius: 3px;
    outline: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#URL:focus {
    border-style: none;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
}

@media only screen and (max-width: 400px) {
    h1.title {
        font-size: calc(.8 * 5em);
    }

@media only screen and (max-width: 320px) {
    h1.title {
        font-size: 4em;
    }
}