Planning
shrtlnk/shrtlnk/bin
shrtlnk/.vs
*/.DS_Store
.DS_Store
shrtlnk/shrtlnk/Properties
shrtlnk/shrtlnk/Properties/PublishProfiles
shrtlnk/shrtlnk/appsettings.json
shrtlnk/shrtlnk/obj/Release
shrtlnk/shrtlnk/.vs
shrtlnk/shrtlnk/obj