@model DeveloperAccountDTO


@if (Model.Verified)
{
    <p>@Model.Email</p>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Role</p>
}
else
{
    <p>Please complete your account verification. You can do this by clicking on the verification link in the email we sent you. Make sure to check your spam folder!</p>
}