@model EditAccountViewModel

<link href="~/css/Developer/EditAccount.css" rel="stylesheet" />

<div class="container">
    @if (!Model.Account.Verified)
    {
        <div class="alert alert-warning" role="alert">
            Please complete your account verification. You can do this by clicking on the verification link in the email we sent you. Make sure to check your spam folder!
        </div>
    }

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" id="edit-name">
                    <a class="nav-link active" href="#">Edit Name</a>
                </li>
                <li class="nav-item" id="change-password">
                    <a class="nav-link" href="#">Change Password</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form asp-controller="Developer" asp-action="EditAccount" id="edit-name-form" class=@(ViewBag.BackFromPassword == true ? "hidden" : "")>
                <div class="form-group">
                    <label asp-for="Account.FirstName"></label>
                    <input asp-for="Account.FirstName" />
                </div>
                <div class="form-group">
                    <label asp-for="Account.LastName"></label>
                    <input asp-for="Account.LastName" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <form asp-controller="Developer" asp-action="ChangePassword" id="change-password-form" class=@(ViewBag.BackFromPassword == true ? "" : "hidden")>
                <div class="form-group">
                    <label asp-for="ChangePasswordForm.CurrentPassword"></label>
                    <input asp-for="ChangePasswordForm.CurrentPassword" />
                    <span asp-validation-for="ChangePasswordForm.CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChangePasswordForm.NewPassword"></label>
                    <input asp-for="ChangePasswordForm.NewPassword" />
                    <span asp-validation-for="ChangePasswordForm.NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ChangePasswordForm.ConfirmNewPassword"></label>
                    <input asp-for="ChangePasswordForm.ConfirmNewPassword" />
                    <span asp-validation-for="ChangePasswordForm.ConfirmNewPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>const editName = document.getElementById('edit-name');
    const editNameForm = document.getElementById('edit-name-form');
    const changePassword = document.getElementById('change-password');
    const changePasswordForm = document.getElementById('change-password-form');

    editName.addEventListener('click', () => {
        showForm(editNameForm);
    });

    changePassword.addEventListener('click', () => {
        showForm(changePasswordForm);
    });

    function showForm(formElement) {
        formElement.classList.remove('hidden');

        if (formElement.id === 'edit-name-form') {
            changePasswordForm.classList.add('hidden');
            editName.children[0].classList.add('active');
            changePassword.children[0].classList.remove('active');
        } else if (formElement.id === 'change-password-form') {
            editNameForm.classList.add('hidden');
            changePassword.children[0].classList.add('active');
            editName.children[0].classList.remove('active');
        }
    }</script>