@model AddNewApplicationForm;

<partial name="_ValidationScriptsPartial" />

<div class="container">
    @if (ViewBag.AccountVerified == false)
    {
        <div class="alert alert-warning">
            You must verify your email before adding an application. You can do so by clicking the link in the email we sent you. Make sure to check your spam folder if you can't find it.
        </div>
    }
    else
    {
        <div class="card pt-4 pb-4 pr-4 pl-4">
            <form asp-controller="Application" asp-action="AddNew" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" placeholder="Name" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website"></label>
                    <input class="form-control" asp-for="Website" placeholder="URL">
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    }
</div>