@model DeveloperApplicationDTO

<div class="container">
    <div class="card pt-4 pb-4 pr-4 pl-4">
        <form asp-controller="Application" asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" placeholder="Name" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website"></label>
                <input class="form-control" asp-for="Website" placeholder="URL">
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>