body {
    width: 100vw;
    height: 100vh;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#URL {
    width: 75vw;
    height: 8vh;
    border-style: none;
    font-size: 6.5vh;
    padding: 0px 1vw;
}

.button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    background-color: #2ecc71;
    text-transform: uppercase;
    width: 75vw;
    margin-top: 1vh;
    height: 4vh;
    border-radius: 3px;
    outline: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#URL:focus {
    border-style: none;
}
