.application-card {
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    word-break: break-word;
}

.app-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-buttons a {
    margin: 0 15px;
}

div.container {
    display: flex;
    flex-direction: column;
}

#add-app {
    align-self: flex-end;
}

div.alert {
    margin: 2vh 0;
}

@media only screen and (max-width: 768px) {
    .application-card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}