<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7bed4166-7dc6-48e5-b5a6-35dd6e181194/resourceGroups/shrtlnk20190326090859ResourceGroup/providers/Microsoft.Web/sites/shrtlnk</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://shrtlnk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>shrtlnk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shrtlnk</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shrtlnk</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>