body {
    background-color: #3498db;
    min-width: 320px;
    color: rgb(51, 51, 51);
}

h1 {
    font-family: 'Luckiest Guy';
}

    h1.title {
        font-size: 5em;
        text-align: center;
        text-align: center;
        margin: 0;
        padding: 2vh;
        transform: rotate(-10deg);
    }

h1.box-title {
    font-size: 3em;
    text-align: center;
    text-align: center;
    margin: 0;
    padding: 2vh;
}

h1.title span {
    padding: 0;
    margin: 0;
}
