{
  "swagger": "2.0",
  "info": {
    "description": "shrtlnk allows you to create shortened URLs for your users through a simple to use API.",
    "version": "1.0.0",
    "title": "shrtlnk",
    "termsOfService": "https://shrtlnk.dev/terms/",
    "contact": {
      "email": "shrtlnkdev@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "shrtlnk.dev",
  "basePath": "/api/v1/",
  "tags": [
    {
      "name": "link",
      "description": "Create a new shrtlnk from a URL",
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/link": {
      "post": {
        "tags": [
          "link"
        ],
        "summary": "Create a new shrtlnk",
        "description": "",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "URL that you would like a shrtlnk created for",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Link"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "shrtlnk created successfully.",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description":  "A server error has occured.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Link": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL that you would like to be shortened."
        }
      },
      "xml": {
        "name": "link"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL that was passed in the POST request."
        },
        "key": {
          "type": "string",
          "description": "6-digit key that can be used to refence the shorted URL."
        },
        "shrtlnk": {
          "type": "string",
          "description": "The fully qualified shorted URL that you can return to the user."
        }
      }
    },
    "ApiError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description":  "A message describing the error and/or how to fix it"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}