@model DeveloperApplicationDTO

<link href="~/css/Application/delete.css" rel="stylesheet" />

<div class="container">
    <div class="card pt-4 pb-4 pr-4 pl-4">
        <div class="card-body text-center">
            <div class="card-title">
                Are you sure that you want to delete this?
                <br />
                All applications using this API key will no longer work.
                <br />
                All shrtlnks that were created through this application will not be deleted and will remain functional.
            </div>
            <div class="card-text">
                <strong>App: </strong>@Model.Name

                <form asp-controller="Application" asp-action="Delete" method="post" class="mt-4">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-controller="Developer" asp-action="AccountHome" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>